<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>본부 매출조회</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body class="bg_gray">
    <div class="header__wrap">
        <button class="header__btnleft">
            <img src="../resource/img/ico_arrow_top.png" />
        </button>
        <p class="header__tit">본부 매출조회</p>
    </div>
    <div class="container__wrap">
        <div class="tab__wrap">
            <ul class="tab__list">
                <li class="select">매장별</li>
                <li>시간대별</li>
                <li>분류별</li>
            </ul>
        </div>
        <div class="date__wrap">
            <button class="date__btnleft">
                <img src="../resource/img/ico_arrow_left.png" />
            </button>
            <div class="date__group">
                <span class="date__value">2019-05-25</span>
                <input type="date" class="date__tf" value="2019-05-25" />
            </div>
            <button class="date__btnright">
                <img src="../resource/img/ico_arrow_right.png" />
            </button>
        </div>
        <div class="list__wrap">
            <table class="list__tbl">
                <colgroup>
                    <col style="width:auto" />
                    <col style="width:70px;" />
                    <col style="width:120px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>매장명</th>
                        <th>객수</th>
                        <th>매출액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="js_popup">
                        <td>가나다라마바사아자차카타파하가나다라마바사아자차카타파하</td>
                        <td class="text_right">999,999</td>
                        <td class="text_right">9,999,999,999</td>
                    </tr>
                    <tr class="js_popup">
                        <td>투게더마트</td>
                        <td class="text_right">224</td>
                        <td class="text_right">1,087,350</td>
                    </tr>
                    <tr class="js_popup">
                        <td>투게더마트 계양점</td>
                        <td class="text_right">661</td>
                        <td class="text_right">5,587,470</td>
                    </tr>
                    <tr class="js_popup">
                        <td>투게더마트 구로점</td>
                        <td class="text_right">733</td>
                        <td class="text_right">1,087,350</td>
                    </tr>
                    <tr class="js_popup">
                        <td>투게더마트 신도림점</td>
                        <td class="text_right">229</td>
                        <td class="text_right">6,700,610</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="footer__wrap">
    <table class="sum__tbl">
        <colgroup>
            <col style="width:50%" />
            <col style="width:1px" />
            <col style="width:50%" />
        </colgroup>
        <thead>
            <tr>
                <th>총 객수</th>
                <th>|</th>
                <th>총 매출액</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,847</td>
                <td></td>
                <td>20,604,000</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="popup__wrap" style="display:none">
        <div class="popup__box">
            <dl class="popup__dl">
                <dt>기간 :</dt><dd>2019-05-28</dd>
                <dt>시간 :</dt><dd>오전 09시~10시</dd>
            </dl>
            <div class="popup__scrollbox">
                <table class="popup__tbl">
                    <colgroup>
                        <col style="width:auto" />
                        <col style="width:70px;" />
                        <col style="width:120px;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>매장명</th>
                            <th>객수</th>
                            <th>매출액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>가나다라마바사아자차카타파하가나다라마바사아자차카타파하</td>
                            <td class="text_right">999,999</td>
                            <td class="text_right">9,999,999,999</td>
                        </tr>
                        <tr>
                            <td>투게더마트 계양점</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트투게더마트투게더마트투게더마트</td>
                            <td class="text_right">4224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                        <tr>
                            <td>투게더마트</td>
                            <td class="text_right">224</td>
                            <td class="text_right">1,087,350</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="popup__btngroup">
                <button class="popup__btn">확인</button>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            //날짜선택
            $(".date__tf").change(function () {
                var value01 = $(".date__tf").val();
                $(".date__value").text(value01);
            })

            //레이어 팝업창 띄우기 배경스크롤 안되게
            $(".js_popup").click(function (e) {
                e.preventDefault();
                $(".popup__wrap").fadeIn();
                $("body").bind('touchmove', function (e) { e.preventDefault() });
            });
            //레이어 팝업창 띄우기 배경스크롤 안되게
            $(".popup__btn").click(function (e) {
                e.preventDefault();
                $(".popup__wrap").fadeOut();
                $("body").unbind('touchmove');
            });
        });
    </script>
</body>
</html>