<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>새로운소식 상세</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="header__wrap">
        <p class="header__tit">새로운 소식</p>
    </div>
    <div class="container__wrap" style="padding-bottom:0">
        <div class="cont__wrap">
            <p class="cont__tit">[안내] 투게더문자 업그레이드, 이미지 링크 문자 런칭</p>
            <span class="cont__txtsmall text_gray">19-04-23 16:03:30</span>
            <hr class="cont__hr" />
            <div class="cont__txtgroup">
                정성스럽게만든 매장의전단과<br />
                이제 투게더문자에 손쉽게 담아서보낼 수 있습니다.<br />
                현 문자 비용 그대로 이미지링크 기능을 사용해보세요.
                <br />
                <br />
                <br />
                투게더문자 이미지링크의 장점
                <br />
                ...(중략)...

                <img src="" />

            </div>

        </div>
    </div>
</body>
</html>