<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>상담접수</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="bg_gray">
    <div class="header__wrap">
        <button class="header__btnleft">
            <i class="material-icons">arrow_back</i>
        </button>
        <p class="header__tit">새로운 소식</p>
    </div>
    <div class="container__wrap" style="padding-bottom:80px">
        <div class="pagehead__wrap">
            <p class="pagehead__tit">상담접수</p>
            <button class="pagehead__btn"><i class="material-icons" style="font-size:12px; margin-right:5px;">border_color</i>문의하기</button>
        </div>
        <div class="list__wrap">
            <table class="list__tbl">
                <colgroup>
                    <col style="width:30px" />
                    <col style="width:auto" />
                    <col style="width:30px" />
                </colgroup>
                <tbody>
                    <tr>
                        <td><i class="material-icons text_red">help_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                소분라벨 등록방법을 알려주세요<br />
                                <span class="list__txtsmall text_gray2">관리자</span>
                                <span class="list__txtsmall text_gray2">2019-11-13 16:36</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_red">help_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--top list__txt">
                                포스에서 등록하는 방법을 알고 싶어요<br />
                                <span class="list__txtsmall text_gray2">계산원</span>
                                <span class="list__txtsmall text_gray2">2019-11-13 16:36</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">check_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--top list__txt">
                                MGR에서 재고관리 하는 방법좀 알려주시기 바랍니다 급합니다.<br />
                                <span class="list__txtsmall text_gray2">홍길동군입니다</span>
                                <span class="list__txtsmall text_gray2">2019-11-13 16:36</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">check_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--top list__txt">
                                포스에서 등록하는 방법을 알고 싶어요<br />
                                <span class="list__txtsmall text_gray2">관리자</span>
                                <span class="list__txtsmall text_gray2">2019-11-13 16:36</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">check_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--top list__txt">
                                포스에서 등록하는 방법을 알고 싶어요<br />
                                <span class="list__txtsmall text_gray2">관리자</span>
                                <span class="list__txtsmall text_gray2">2019-11-13 16:36</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="list__wrap">
            <table class="list__tbl list__tbl--line">
                <colgroup>
                    <col style="width:auto" />
                    <col style="width:50px" />
                </colgroup>
                <tbody>
                    <tr>
                        <td colspan="2">
                            등록된 상담접수건이 없습니다.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>