<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>상담접수 글보기</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css?11223112" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <div class="header__wrap">
        <p class="header__tit">상담접수</p>
    </div>
    <div class="container__wrap" style="padding-bottom:0">
        <div class="pagehead__wrap">
            <p class="pagehead__tit text_left">상담접수 글 보기</p>
            <input type="button" class="pagehead__btn" value="수정" />
        </div>
        <div class="cont__wrap">
            <p class="cont__tit">MGR과 비교했을때 매출액이 다르게 보여져요 왜그렇죠? </p>
            <div>
                <span class="cont__txtsmall text_gray">두개더 알파베타마트(대포동점)</span>
                <span class="cont__txtsmall text_gray">최고위치관리자</span>
                <span class="cont__txtsmall text_gray">19.11.13</span>
            </div>
            <p class="cont__txt text_red">답변대기중</p>
            <hr class="cont__hr" />

            <p class="cont__txt">
                엠포스에서 매출을 데이터를 보는데 MGR의 데이터와 다르게 보여집니다.<br />
                캡쳐 이미지를 첨부했으니 확인부탁바랍니다.
                확인해서 연락을 주셨으면 합니다.
            </p>
            <div class="file__wrap">
                <p class="file__tit">첨부사진</p>
                <ul class="file__list">
                    <li>
                        <a href="#"><span class="file__txt">image_20191011_1image.jpg</span><span class="file__txtsmall">54kb</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="file__txt">image_20191011_1image.jpg</span><span class="file__txtsmall">54kb</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="answer__wrap">
            <div>
                <i class="material-icons text_blue" style="font-size:18px;">subdirectory_arrow_right</i>
                <b class="answer__txtsmall text_blue">투게더스</b>
                <span class="answer__txtsmall text_gray">19.05.31</span>
            </div>
            <p class="answer__txt">
                안녕하세요. 고객님<br />
                현재 문의주신 내용을 담당자와 함께 확인하고 있으며 곧 연락 드리겠습니다.
            </p>
        </div>
        <div class="answer__wrap">
            <div>
                <i class="material-icons text_blue" style="font-size:18px;">subdirectory_arrow_right</i>
                <b class="answer__txtsmall text_blue">투게더스</b>
                <span class="answer__txtsmall text_gray">19.05.31</span>
            </div>
            <p class="answer__txt">
                안녕하세요. 고객님<br />
                문의 주신 내용으로 연락을 드렸으나 연결이 되지 않아서 답변을 남겨드립니다. 매장의 MGR과의 통신이 원할하지 않아 MPOS와 데이터가 다르게 보여지는 것으로 보인것으로 확인되었습니다. 매장에 인터넷 연결을 확인해 주시기 바랍니다.<br /> 혹시 추가 문의가 있으실 경우에는 1577-4550으로 연락을 주시거나 새로 질문을 해주시기 바랍니다.
            </p>
        </div>
    </div>
</body>
</html>