<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>공지사항/새소식</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="bg_gray">
    <div class="header__wrap">
        <button class="header__btnleft">
            <i class="material-icons">arrow_back</i>
        </button>
        <p class="header__tit">새로운 소식</p>
    </div>
    <div class="container__wrap" style="padding-bottom:0">
        <div class="list__wrap">
            <table class="list__tbl">
                <colgroup>
                    <col style="width:30px;" />
                    <col style="width:auto;" />
                    <col style="width:30px;" />
                </colgroup>
                <tbody>
                    <tr>
                        <td><i class="material-icons text_blue">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2">
                                <b>[안내] 투게더문자 업그레이드, 이미지링크 문자 런칭</b><br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_gray">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 text_gray2">
                                [공지] 서버점검으로 인한 앱서비스 일시중단안내 <br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>

                    <tr>
                        <td><i class="material-icons text_blue">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2">
                                <b>[안내] 시스템점검으로 인한 앱서비스 일시중단안내</b><br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_gray">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 text_gray2">
                                [안내] 투게더앱 서비스 이관 안내 <br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_gray">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 text_gray2">
                                [공지] 광고성정보 수신동의 확인 의무화 <br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2">
                                <b>[솔루션안내] 계산대 저울연동 기능</b><br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_gray">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 text_gray2">
                                풍성한 한가위 되세요 <br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_gray">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 text_gray2">
                                [공지] 최신버전 업데이트 안내 <br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2">
                                <b>[교육] 제7회 투게더 가맹점 정기교육 안내</b><br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">fiber_new</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2">
                                <b>[안내] 콜센터 일시 중단 (7/14 12시 ~ 13시)</b><br />
                                <span class="list__txtsmall text_gray2">19-04-23</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                </tbody>
            </table>
            <button class="list__btnmore">
                <i class="material-icons">autorenew</i><span class="list__txt">더 보기</span></button>
        </div>

    </div>

</body>
</html>