<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>상담접수 글보기</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css?11223112" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="container__wrap" style="padding-bottom:0">
        <div class="pagehead__wrap">
            <p class="pagehead__tit text_left">상담접수 글 보기</p>
            <input type="button" class="pagehead__btn pagehead__btn--right" value="수정" />
        </div>
        <div class="cont__wrap">
            <p class="cont__tit">포스에서 등록하는 방법을 알고 싶어요</p>

            <table class="cont__tbl">
                <tbody>
                    <tr>
                        <th>작성자</th>
                        <td>
                            <span class="cont__txt text_red">알파마트</span>
                            <span class="cont__txt text_blue">관리자</span>
                            <span class="cont__txt">(010-0000-0000)</span>
                        </td>
                    </tr>
                    <tr>
                        <th>유형/상태</th>
                        <td>
                            <span class="cont__txt text_gray">사용법문의</span> /
                            <span class="cont__txt text_red">미처리</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>

            </div>
            <span class="cont__txt text_gray">2019-11-13 16:36</span>



        </div>



        <div class="pagebody__wrap">
            <div class="pagebody__cont">
                <div class="inbox__group">
                    
                </div>
                <hr class="pagebody__hr" />
                <div class="pagebody__txtgroup">정성스럽게만든 매장의전단과<br />이제 투게더문자에 손쉽게 담아서보낼 수 있습니다.</div>
                <ul class="pagebody__list">
                    <li>
                        <div class="linkbox__wrap">
                            <span class="linkbox__tit">image_20181011_1image_20181011_1image_20181011_1</span>
                            <span class="linkbox__txt">54kb</span>
                            <span class="linkbox__btn">삭제</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pagebody__cont">
                <div class="inbox__group">
                    <span class="text_blue">2018-09-20 16:32</span>
                    <p class="">안녕하세요~ 고객님 월요일 오후 6시경 매장으로 연락드리겠습니다.</p>
                </div>
            </div>
            <div class="pagebody__cont">
                <div class="inbox__group">
                    <span class="text_blue">2018-09-20 16:32</span>
                    <p class="">안녕하세요~ 고객님 월요일 오후 6시경 매장으로 연락드리겠습니다.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>