<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>매출속보</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body class="bg_gray">
    <div class="header__wrap">
        <button class="header__btnleft">
            <i class="material-icons">arrow_back</i>
        </button>
        <p class="header__tit">매출속보</p>
    </div>
    <div class="container__wrap" style="padding-bottom:0">
        <div class="search__wrap">
            <ul class="search__list">
                <li>
                    <select class="search__opt">
                        <option>서울</option>
                        <option>인천</option>
                    </select>
                </li>
                <li>
                    <select class="search__opt">
                        <option>동대문구</option>
                    </select>
                </li>
                <li>
                    <select class="search__opt">
                        <option>300평↑</option>
                    </select>
                </li>
                <li>
                    <select class="search__opt">
                        <option>점포규모↑</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="user__wrap">
            <table class="user__tbl">
                <colgroup>
                    <col style="width:auto" />
                    <col style="width:110px;" />
                    <col style="width:70px;" />
                    <col style="width:60px;" />
                </colgroup>
                <tbody>
                    <tr>
                        <td class="text_left"><span class="user__txtcrop">알파마트(서구청점)</span></td>
                        <td class="text_right text_bold">10,663,180</td>
                        <td class="text_right">695</td>
                        <td class="text_right">72<span class="list__txtsmall text_gray2">시간</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="list__wrap">
            <table class="list__tbl list__tbl--line">
                <colgroup>
                    <col style="width:auto" />
                    <col style="width:110px; background:rgba(255, 0, 0,0.05) !important" />
                    <col style="width:70px;" />
                    <col style="width:60px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="text_left text_gray2">매장명</th>
                        <th class="text_right text_gray2">매출액</th>
                        <th class="text_right text_gray2">객수</th>
                        <th class="text_right text_gray2">경과</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="js_popup">
                        <td>
                            <span class="list__txtcrop text_gray2">가나다라마바사아자차카타파하가나다라마바사아자차카타파하</span>
                        </td>
                        <td class="text_right text_bold">9,999,999,999</td>
                        <td class="text_right">999,999</td>
                        <td class="text_right">999<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td>
                            <span class="list__txtcrop text_gray2">힘찬유통</span>
                        </td>
                        <td class="text_right text_bold">10,663,180</td>
                        <td class="text_right">695</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">(주)강동식자재마트</span></td>
                        <td class="text_right text_bold">8,631,640</td>
                        <td class="text_right">531</td>
                        <td class="text_right">3<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">할인마트</span></td>
                        <td class="text_right text_bold">5,669,010</td>
                        <td class="text_right">759</td>
                        <td class="text_right">1<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">호계마트2</span></td>
                        <td class="text_right text_bold">2,734,180</td>
                        <td class="text_right">338</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td>
                            <span class="list__txtcrop text_gray2">힘찬유통</span>
                        </td>
                        <td class="text_right text_bold">10,663,180</td>
                        <td class="text_right">695</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">(주)강동식자재마트</span></td>
                        <td class="text_right text_bold">8,631,640</td>
                        <td class="text_right">531</td>
                        <td class="text_right">3<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">할인마트</span></td>
                        <td class="text_right text_bold">5,669,010</td>
                        <td class="text_right">759</td>
                        <td class="text_right">1<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">호계마트2</span></td>
                        <td class="text_right text_bold">2,734,180</td>
                        <td class="text_right">338</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td>
                            <span class="list__txtcrop text_gray2">힘찬유통</span>
                        </td>
                        <td class="text_right text_bold">10,663,180</td>
                        <td class="text_right">695</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">(주)강동식자재마트</span></td>
                        <td class="text_right text_bold">8,631,640</td>
                        <td class="text_right">531</td>
                        <td class="text_right">3<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">할인마트</span></td>
                        <td class="text_right text_bold">5,669,010</td>
                        <td class="text_right">759</td>
                        <td class="text_right">1<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">호계마트2</span></td>
                        <td class="text_right text_bold">2,734,180</td>
                        <td class="text_right">338</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td>
                            <span class="list__txtcrop text_gray2">힘찬유통</span>
                        </td>
                        <td class="text_right text_bold">10,663,180</td>
                        <td class="text_right">695</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">(주)강동식자재마트</span></td>
                        <td class="text_right text_bold">8,631,640</td>
                        <td class="text_right">531</td>
                        <td class="text_right">3<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">할인마트</span></td>
                        <td class="text_right text_bold">5,669,010</td>
                        <td class="text_right">759</td>
                        <td class="text_right">1<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">호계마트2</span></td>
                        <td class="text_right text_bold">2,734,180</td>
                        <td class="text_right">338</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td>
                            <span class="list__txtcrop text_gray2">힘찬유통</span>
                        </td>
                        <td class="text_right text_bold">10,663,180</td>
                        <td class="text_right">695</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">(주)강동식자재마트</span></td>
                        <td class="text_right text_bold">8,631,640</td>
                        <td class="text_right">531</td>
                        <td class="text_right">3<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">할인마트</span></td>
                        <td class="text_right text_bold">5,669,010</td>
                        <td class="text_right">759</td>
                        <td class="text_right">1<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                    <tr class="js_popup">
                        <td><span class="list__txtcrop text_gray2">호계마트3</span></td>
                        <td class="text_right text_bold">2,734,180</td>
                        <td class="text_right">338</td>
                        <td class="text_right">4<span class="list__txtsmall text_gray2">분</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
    </script>
</body>
</html>