<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>영상매뉴얼</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg_gray">
    <div class="header__wrap">
        <button class="header__btnleft">
            <i class="material-icons">arrow_back</i>
        </button>
        <p class="header__tit">영상 매뉴얼</p>
    </div>
    <div class="container__wrap" style="padding-bottom:0">
        <div class="list__wrap">
            <table class="list__tbl">
                <colgroup>
                    <col style="width:30px;" />
                    <col style="width:auto;" />
                    <col style="width:30px;" />
                </colgroup>
                <tbody>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                상품장 변경로그<br />
                                <span class="list__txtsmall text_gray2">1-04.변경로그</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                직원권한 설정 및 접속로그<br />
                                <span class="list__txtsmall text_gray2">1-13.직원관리 / 1-14.직원 접속로그</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                외상 매입<br />
                                <span class="list__txtsmall text_gray2">2-11.결제관리</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                외상 매출<br />
                                <span class="list__txtsmall text_gray2">2-11.결제관리</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                이벤트태그<br />
                                <span class="list__txtsmall text_gray2">5-23.이벤트태그</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                영수증 메세지 등록방법<br />
                                <span class="list__txtsmall text_gray2">5-42.영수증메세지</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                외상거래 설정<br />
                                <span class="list__txtsmall text_gray2">8.회원관리</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                SMS, LMS 보내기<br />
                                <span class="list__txtsmall text_gray2">8.회원관리</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                회원 세금계산서 발행<br />
                                <span class="list__txtsmall text_gray2">8.회원관리</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                회원 월 정산<br />
                                <span class="list__txtsmall text_gray2">8.회원관리</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                수수료 공급사로 변경<br />
                                <span class="list__txtsmall text_gray2">복합메뉴</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                중량상품 마진율<br />
                                <span class="list__txtsmall text_gray2">복합메뉴</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                소액 거스름 적립<br />
                                <span class="list__txtsmall text_gray2">OPR</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                소액 지불<br />
                                <span class="list__txtsmall text_gray2">OPR</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                MGR화면의 특징<br />
                                <span class="list__txtsmall text_gray2">MGR</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                새상품 등록<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                상품의 분류 추가<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                공급사변경<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                상품등록정보의 과면세 설정<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                분류변경<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                약식 등록<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                일 매출량<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons text_blue">play_circle_outline</i></td>
                        <td>
                            <p class="list__txtcrop list__txtcrop--row2 list__txt">
                                포함 기준가<br />
                                <span class="list__txtsmall text_gray2">1-01.상품장</span>
                            </p>
                        </td>
                        <td><i class="material-icons text_gray">keyboard_arrow_right</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>