<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>새로운소식</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body class="bg_gray">
    <div class="container__wrap" style="padding-bottom:0">
        <div class="pagehead__wrap">
            <p class="pagehead__tit">투게더스에서 알립니다.</p>
        </div>
        <div class="list__wrap">
            <table class="list__tbl">
                <colgroup>
                    <col style="width:auto" />
                    <col style="width:80px;" />
                    <col style="width:60px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="text_left">제목</th>
                        <th class="text_left">작성일</th>
                        <th class="text_right">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="list__txtcrop">[안내] 투게더문자 업그레이드, 이미지링크 문자 런칭</span></td>
                        <td>19-04-23</td>
                        <td class="text_right">1,062</td>
                    </tr>
                    <tr>
                        <td><span class="list__txtcrop">[공지] 서버점검으로 인한 앱 서비스 일시중단 안내</span></td>
                        <td>19-04-11</td>
                        <td class="text_right">760</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text_center">
            <button>더보기</button>
        </div>
    </div>

</body>
</html>