<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>MPOS리스트</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>1</td>
            <td><a href="/mpos/src/views/mpos_viewlist2.html">본부 매출조회</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="/mpos/src/views/mpos_viewlist2.html">매출속보</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="/mpos/src/views/mpos_viewlist3.html">영상메뉴얼</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="/mpos/src/views/mpos_viewlist4.html">공지사항 리스트</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="/mpos/src/views/mpos_viewdetail.html">공지사항 상세</a></td>
        </tr>
    </table>

</body>
</html>