<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>영상매뉴얼</title>
    <link rel="stylesheet" href="../resource/css/reset.css" />
    <link rel="stylesheet" href="../resource/css/mpos.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body class="bg_gray">
    <div class="container__wrap" style="padding-bottom:0">
        <div class="tab__wrap" style="background:#fff;padding:10px; font-size:17px;">
            <p class="">관리자 프로그램(MGR) 매뉴얼</p>
        </div>

        <div class="list__wrap">
            <table class="list__tbl">
                <colgroup>
                    <col style="width:130px" />
                    <col style="width:auto;" />
                    <col style="width:60px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="text_left">메뉴</th>
                        <th class="text_left">내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="list__txtcrop">1-04.변경로그</span></td>
                        <td><span class="list__txtcrop">상품장 변경로그</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="list__txtcrop list__txtcrop--row2">1-13.직원관리<br /> 1-14.직원 접속로그</span></td>
                        <td><span class="list__txtcrop">직원권한 설정 및 접속로그</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="list__txtcrop">2-11.결제관리</span></td>
                        <td><span class="list__txtcrop">외상매입</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="list__txtcrop">5-23. 이벤트태그</span></td>
                        <td><span class="list__txtcrop">이벤트태그</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="list__txtcrop">1-04.변경로그</span></td>
                        <td><span class="list__txtcrop">상품장 변경로그</span></td>
                        <td>&nbsp;</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <script>
    </script>
</body>
</html>